{% extends "bootstrap/base.html" %}

{% block title %}
Information about {{flight.code}}
{% endblock %}

{% block content %}
<center>
    <h2>{{flight.code}}</h2>
</center>
<table class="table table-bordered table-hover table-sm">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Flight Code</th>
      <th scope="col">Registration number</th>
      <th scope="col">Flag</th>
      <th scope="col">Latitude</th>
      <th scope="col">Longitude</th>
      <th scope="col">Altitude</th>
      <th scope="col">Speed</th>
      <th scope="col">Vertical speed</th>
      <th scope="col">Departure</th>
      <th scope="col">Arrival</th>
      <th scope="col">Departure gate</th>
      <th scope="col">Departure time</th>
      <th scope="col">Arrival time UTC</th>
      <th scope="col">ETA</th>
      <th scope="col">Aircraft</th>
      <th scope="col">Delayed</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <tr onclick="location.href='{{flight.code}}/';">
      <th scope="col">{{flight.code}}</th>
      <th scope="col">{{flight.reg_number}}</th>
      <th scope="col">{{flight.flag}}</th>
      <th scope="col">{{flight.lat}}</th>
      <th scope="col">{{flight.lng}}</th>
      <th scope="col">{{flight.alt}}</th>
      <th scope="col">{{flight.speed}}</th>
      <th scope="col">{{flight.v_speed}}</th>
      <th scope="col">{{flight.dep_iata}}</th>
      <th scope="col">{{flight.arr_iata}}</th>
      <th scope="col">{{flight.dep_gate}}</th>
      <th scope="col">{{flight.dep_time_utc or "-"}}</th>
      <th scope="col">{{flight.arr_time_utc or "-"}}</th>
      <th scope="col">{{flight.estimated_arrival_time or "-"}}</th>
      <th scope="col">{{flight.model or "-"}}</th>
      <th scope="col">{{flight.delayed or "No"}}</th>
      <th scope="col">{{flight.status}}</th>
    </tr>
  </tbody>
</table>
<div style="padding: 20px;">
    <span><b>Departure airport:</b></span>
    <br>
    <span><b>Arrival airport:</b></span>
</div>
{% endblock %}