{% extends "base.html" %}

{% block page_content %}
{% if get_flashed_messages() %}
<div class="alert alert-info" role="alert">
  {{"\n".join(get_flashed_messages())}}
</div>
{% endif %}
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Flight Code</th>
      <th scope="col">Registration number</th>
      <th scope="col">Flag</th>
      <th scope="col">Latitude</th>
      <th scope="col">Longitude</th>
      <th scope="col">Altitude</th>
      <th scope="col">Speed</th>
      <th scope="col">Vertical speed</th>
      <th scope="col">Departure</th>
      <th scope="col">Arrival</th>
      <th scope="col">Departure time</th>
      <th scope="col">ETA</th>
      <th scope="col">Aircraft</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    {% for flight in flights %}
    <tr>
      <th scope="col">{{flight.code}}</th>
      <th scope="col">{{flight.reg_number}}</th>
      <th scope="col">{{flight.flag}}</th>
      <th scope="col">{{flight.lat}}</th>
      <th scope="col">{{flight.lng}}</th>
      <th scope="col">{{flight.alt}}</th>
      <th scope="col">{{flight.speed}}</th>
      <th scope="col">{{flight.v_speed}}</th>
      <th scope="col">{{flight.dep_iata}}</th>
      <th scope="col">{{flight.arr_iata}}</th>
      <th scope="col">{{flight.departure_time or "-"}}</th>
      <th scope="col">{{flight.estimated_arrival_time or "-"}}</th>
      <th scope="col">{{flight.aircraft_icao}}</th>
      <th scope="col">{{flight.status}}</th>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}